
<h5>
<%- include ./../../elements/notify %>
</h5>
<%
<!-- items | group | user -->
const colection     = "document";
const linkPrefix    = systemConfig.prefixAdmin + `/${colection}/`;
const folderUpload  = 'uploads/documents/';

%>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                Search & Filter
                <a href="<%=linkPrefix%>">
                    <span id="icon-reload" class="glyphicon glyphicon-refresh"></span>
                </a>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="status-list col-sm-5 pl0">
                        <!-- Function filter status helper In helpers (Status)-->
                        <% include ./../../helpers/filter-status%>
                        <%- filterStatusHelper(linkPrefix,statusFilter,params.keyword)%>
                        <!-- -------------------------- -->
                    </div>
                    <div class="col-sm-2">
                        <% include ./../../helpers/select_box %>
                        <%- selectBoxHelper('filter_category', categoryItems, params.category_id)%>
                    </div>

                    <div class="col-sm-5">
                        <form action="/<%= linkPrefix%>status/<%= params.curStatus%>" method="GET">
                            <div class="input-group">
                                <input type="text" class="form-control" name="keyword" placeholder="Search for..."
                                       value="<%=params.keyword%>">
                                <span class="input-group-btn">
                                    <button class="btn btn-info" type="submit">Search</button>
                                </span>
                                <span class="input-group-btn">
                                    <button class="btn btn-success" type="button"><a href="<%= linkPrefix%>status/<%= params.curStatus%>">Clear</a></button>
                                </span>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-12">

        <div class="panel panel-info">
            <div class="panel-heading">
                List Documents
                <form style="margin-top: -5px" class="pull-right form-inline">
                    <div class="col-sm-12">
                        <div class="dataTables_length" id="dataTables-example_length">
                            <label>Show <select name="dataTables-example_length" aria-controls="dataTables-example" class="form-control input-sm">
                                    <%  params.lengthTable.forEach((ele) => { %>
                                        <% if(ele === parseInt( params.dataLengthTable)) { %>
                                        <option selected value="<%=ele%>"><%=ele%></option>
                                        <%} else { %>
                                        <option  value="<%=ele%>"><%=ele%></option>
                                        <%} %>

                                    <%})%>
                                </select> entries
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <form role="form" class="form-inline zt-form" id="zt-form" action="" method="post">
                    <% include ./../../helpers/action %>
                    <%- actionHelper(linkPrefix)%>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" class="cbAll" />
                                </th>
                                <th>#</th>
                                <% include ./../../helpers/sort%>
                                <%- sortHelper(linkPrefix, 'Name', 'name', params.sortField, params.sortType, "width:20%")%>
                                <th>Thumb</th>
                                <%- sortHelper(linkPrefix, 'Status', 'status', params.sortField, params.sortType)%>
                                <%- sortHelper(linkPrefix, 'Special', 'special', params.sortField, params.sortType)%>
                                <%- sortHelper(linkPrefix, 'Download', 'download', params.sortField, params.sortType)%>
                                <%- sortHelper(linkPrefix, 'Category', 'category.name', params.sortField, params.sortType)%>

                                <th>Created</th>
                                <th>Upload</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% if(items.length > 0) {%>
                                <% items.forEach((item,index) => { %>
                                    <tr>
                                        <td>
                                            <input type="checkbox" name="cid" value="<%= item.id %>" />
                                        </td>
                                        <td>
                                            <%= index+1 %>
                                        </td>
                                        <td>
                                            <%= item.name%>
                                        </td>
                                        <td>
                                            <% include ./../../helpers/image%>
                                            <%- imageHelper(folderUpload, 'img-avatar',item.thumb, 'no-thumb.png')%>
                                        </td>
                                        <td>
                                            <!-- Function Helper In helpers (Status)-->
                                            <% include ./../../helpers/status%>
                                            <%- statusHelper(linkPrefix,item.status, item.id)%>

                                            <!-- -------------------------- -->
                                        </td>
                                        <td>
                                            <!-- Function Helper In helpers (Status)-->

                                            <% include ./../../helpers/special%>
                                            <%- specialHelper(linkPrefix, item.special, item.id)%>
                                            <!-- -------------------------- -->
                                        </td>
                                        <td style="text-align: center">
                                            <%=item.download%>
                                        </td>
                                        <td>
                                            <%= item.category.name %>
                                        </td>
                                        <% include ./../../helpers/source_by%>
                                        <%- sourceByHelper(item.created.user_name, item.created.time)%>

                                        <td>
                                            <% if(typeof item.pdf === 'undefined') { %>
                                                <a class="btn btn-primary btn-xs" href="<%= linkPrefix %>upload-pdf/<%=item.id%>/no-pdf.pdf">Upload Pdf</a>
                                            <%} else { %>
                                                <a class="btn btn-success btn-xs" href="<%= linkPrefix %>upload-pdf/<%=item.id + '/' + item.pdf%>">Upload Pdf</a>
                                            <%}%>
                                        </td>
                                        <td>
                                            <a href="<%= linkPrefix %>form/<%=item.id%>" type="button" class="btn btn-warning btn-xs">Edit</a>
                                            <a href="<%= linkPrefix %>delete/<%=item.id%>" type="button" class="btn btn-danger btn-xs btn-delete">Delete</a>
                                        </td>
                                    </tr>
                                <% }) %>
                            <%} else {%>
                                <tr>
                                    <td colspan="9">
                                        <h3>Không có dữ liệu</h3>
                                    </td>
                                </tr>
                            <% } %>


                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <!-- PAGINATON -->
        <% include ./../../helpers/pagination%>
        <%- paginationHelper(params.pagination,linkPrefix, params.curStatus, params.keyword)%>
    </div>
</div>